Repository COS301-SE-2022/Intelligent-VMS-Visitor-Management-System-, pull requests merged in 2022-08, with the labels that each got.

#242 🐛 💄 (Sign-In): Refine signIn related stuff
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/src/receptionist.service.ts
  client/components/InfoAlert.jsx
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/components/VisitInfoModal.jsx
  client/pages/receptionistDashboard.jsx
Labels: priority:low, scope:client, status: ready

#244 🚧 (integration tests) Disabled
  client/components/QRScanner.jsx
  client/cypress/integration/administrator.spec.js
  client/cypress/integration/index.spec.js
  client/cypress/integration/receptionist.spec.js
  client/cypress/integration/signUp.spec.js
  client/cypress/integration/verify.spec.js
Labels: priority:low, scope:tests

#243 Feature/dashboard redesigns
  backend/libs/mail/src/mail.service.ts
  backend/libs/visitor-invite/src/commands/handlers/cancelInviteCommand.handler.ts
  backend/libs/visitor-invite/src/commands/handlers/groupInviteCommand.handler.ts
  backend/libs/visitor-invite/src/models/visitor.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getVisitors.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getVisitors.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/libs/visitor/src/dto/visitor.dto.ts
  backend/libs/visitor/src/index.ts
  backend/libs/visitor/src/models/visitor.model.ts
  backend/libs/visitor/src/schema/visitor.schema.ts
  backend/libs/visitor/src/visitor.module.ts
  backend/libs/visitor/src/visitor.resolver.ts
  backend/libs/visitor/src/visitor.service.spec.ts
  backend/libs/visitor/src/visitor.service.ts
  backend/libs/visitor/tsconfig.lib.json
  backend/src/app.module.ts
  backend/src/schema.gql
  client/__tests__/createInvite.test.js
  client/components/Alert.jsx
  client/components/AlertGroup.jsx
  client/components/AnalyticsReport.jsx
  client/components/DownloadChart.jsx
  client/components/ErrorAlert.jsx
  client/components/InfoAlert.jsx
  client/components/Layout.jsx
  client/components/LineChart.jsx
  client/components/Navbar.jsx
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/components/SuccessAlert.jsx
  client/components/ThemeSelector.jsx
  client/components/UploadPopUp.jsx
  client/components/VisitInfoModal.jsx
  client/components/VisitorCard.jsx
  client/components/receptionistSignButton.jsx
  client/package.json
  client/pages/_app.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/login.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  client/yarn.lock
Labels: enhancement, scope:backend:api, scope:backend:service, scope:client

#249 ✅ (backend): added unit tests
  backend/libs/auth/src/auth.service.spec.ts
Labels: scope:backend:service, priority:medium, scope:tests, status: ready

#252 Updating branch
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/mail/src/mail.service.ts
  backend/libs/visitor-invite/src/commands/handlers/cancelInviteCommand.handler.ts
  backend/libs/visitor-invite/src/commands/handlers/groupInviteCommand.handler.ts
  backend/libs/visitor-invite/src/models/visitor.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getVisitors.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getVisitors.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/libs/visitor/src/dto/visitor.dto.ts
  backend/libs/visitor/src/index.ts
  backend/libs/visitor/src/models/visitor.model.ts
  backend/libs/visitor/src/schema/visitor.schema.ts
  backend/libs/visitor/src/visitor.module.ts
  backend/libs/visitor/src/visitor.resolver.ts
  backend/libs/visitor/src/visitor.service.spec.ts
  backend/libs/visitor/src/visitor.service.ts
  backend/libs/visitor/tsconfig.lib.json
  backend/src/app.module.ts
  backend/src/schema.gql
  client/__tests__/createInvite.test.js
  client/components/Alert.jsx
  client/components/AlertGroup.jsx
  client/components/AnalyticsReport.jsx
  client/components/DownloadChart.jsx
  client/components/ErrorAlert.jsx
  client/components/InfoAlert.jsx
  client/components/Layout.jsx
  client/components/LineChart.jsx
  client/components/Navbar.jsx
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/components/SuccessAlert.jsx
  client/components/ThemeSelector.jsx
  client/components/UploadPopUp.jsx
  client/components/VisitInfoModal.jsx
  client/components/VisitorCard.jsx
  client/components/receptionistSignButton.jsx
  client/cypress/integration/administrator.spec.js
  client/cypress/integration/index.spec.js
  client/cypress/integration/receptionist.spec.js
  client/cypress/integration/signUp.spec.js
  client/cypress/integration/verify.spec.js
  client/package.json
  client/pages/_app.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/login.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  client/yarn.lock
Labels: priority:low

#253 Feature/parking admin control
  backend/libs/parking/src/commands/handlers/disableParkingSpaceCommand.handler.ts
  backend/libs/parking/src/commands/handlers/enableParkingSpaceCommand.handler.ts
  backend/libs/parking/src/parking.module.ts
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/parking/src/queries/handlers/getDisabledParkingQuery.handler.ts
  backend/libs/parking/src/queries/handlers/getTotalParkingQuery.handler.ts
  backend/libs/parking/src/queries/impl/getDisabledParking.query.ts
  backend/libs/parking/src/queries/impl/getTotalParking.query.ts
  backend/src/schema.gql
  client/pages/adminDashboard.jsx
Labels: priority:medium

#256 🐛 Fixed error
  backend/libs/parking/src/parking.module.ts
  backend/src/schema.gql
Labels: priority:low

#257 Origin/feature/curfew
  backend/libs/restrictions/src/commands/handlers/setCurfewTime.handler.ts
  backend/libs/restrictions/src/commands/impl/setCurfewTime.command.ts
  backend/libs/restrictions/src/queries/handlers/getCurfewTimeQuery.handler.ts
  backend/libs/restrictions/src/queries/impl/getCurfewTime.query.ts
  backend/libs/restrictions/src/restrictions.module.ts
  backend/libs/restrictions/src/restrictions.resolver.ts
  backend/libs/restrictions/src/restrictions.service.ts
  backend/src/schema.gql
  client/pages/adminDashboard.jsx
Labels: priority:medium, scope:client

#260 Feature/dashboard redesigns
  backend/libs/parking/src/commands/handlers/groupParkingCommand.handler.ts
  backend/libs/parking/src/commands/impl/groupParking.command.ts
  backend/libs/parking/src/parking.module.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/parking/src/schema/groupParking.schema.ts
  backend/libs/parking/src/schema/parking.schema.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/user/src/queries/handlers/getUsersByType.handler.ts
  backend/libs/user/src/queries/impl/getUsersByType.query.ts
  backend/libs/user/src/user.module.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.ts
  backend/libs/visitor-invite/src/commands/impl/createGroupInvite.command.ts
  backend/libs/visitor-invite/src/errors/noInvites.error.ts
  backend/libs/visitor-invite/src/models/groupInvite.model.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/models/inviteSuggestion.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesForUsers.handler.ts
  backend/libs/visitor-invite/src/queries/handlers/getMostUsedInviteData.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getInvitesForUsers.query.ts
  backend/libs/visitor-invite/src/queries/impl/getMostUsedInviteData.query.ts
  backend/libs/visitor-invite/src/schema/groupInvite.schema.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/createInvite.test.js
  client/components/DownloadChart.jsx
  client/components/HorizontalChart.jsx
  client/components/Navbar.jsx
  client/components/OpenInviteCard.jsx
  client/components/PieChart.jsx
  client/components/PolarChart.jsx
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/components/TeamCard.jsx
  client/components/TeamCarousel.jsx
  client/components/UploadPopUp.jsx
  client/components/VisitorCard.jsx
  client/pages/adminDashboard.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/reporting.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  client/store/authStore.js
  data-prep/app/model.py
Labels: enhancement, scope:backend:api, scope:backend:service, priority:high, scope:client
