Repository COS301-SE-2022/Intelligent-VMS-Visitor-Management-System-, pull requests merged in 2022-06, with the labels that each got.

#123 Add getParkingUsedInRange query function
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/src/schema.gql
Labels: scope:backend:service, priority:medium

#124 💄 (sign-in) : Template and popup
  backend/libs/parking/src/commands/handlers/unreserveParkingCommand.handler.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.ts
  backend/libs/receptionist/src/commands/handler/signInInviteCommand.handler.ts
  backend/libs/receptionist/src/commands/impl/signInInvite.command.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/receptionist/src/receptionist.resolver.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/receptionist/src/receptionist.service.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/schema/invite.schema.ts
  backend/src/schema.gql
  client/components/SignInPopUp.jsx
  client/pages/receptionistDashboard.jsx
  client/store/authStore.js
Labels: priority:high

#128 Feature/center modal
  backend/src/schema.gql
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/hooks/useVideo.hook.js
  client/pages/receptionistDashboard.jsx
Labels: scope:ui, scope:client

#130 ✨ (backend): added business logic for sign-out
  backend/libs/receptionist/sign-out/sign-out.service.ts
  backend/libs/receptionist/src/commands/handler/index.ts
  backend/libs/receptionist/src/commands/handler/signOutInvite.command.handler.ts
  backend/libs/receptionist/src/commands/impl/index.ts
  backend/libs/receptionist/src/commands/impl/signOutInvite.command.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/receptionist/src/receptionist.resolver.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/src/schema.gql
Labels: enhancement, scope:backend:service, priority:high

#131 🐛 (parking) : update query to return array
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.ts
Labels: scope:backend:service, priority:high

#138 Feature/tray
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.ts
  backend/libs/receptionist/src/commands/handler/Tray/generateTray.handler.ts
  backend/libs/receptionist/src/commands/handler/Tray/removeTrayByInviteID.handler.ts
  backend/libs/receptionist/src/commands/impl/Tray/generateTray.command.ts
  backend/libs/receptionist/src/commands/impl/Tray/removeTrayByInviteID.command.ts
  backend/libs/receptionist/src/models/tray.model.ts
  backend/libs/receptionist/src/queries/handlers/getNumberOfTrays.handler.ts
  backend/libs/receptionist/src/queries/handlers/getTrayFromInvite.handler.ts
  backend/libs/receptionist/src/queries/handlers/getTrayList.handler.ts
  backend/libs/receptionist/src/queries/impl/getNumberOfTrays.query.ts
  backend/libs/receptionist/src/queries/impl/getTrayFromInvite.query.ts
  backend/libs/receptionist/src/queries/impl/getTrayList.query.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/receptionist/src/receptionist.service.ts
  backend/libs/receptionist/src/schema/tray.schema.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
Labels: enhancement, scope:backend:service, priority:medium

#139 Feature/admin analytics
  backend/libs/restrictions/src/commands/handlers/setNumInvitesCommand.handler.ts
  backend/libs/restrictions/src/commands/impl/setNumInvites.command.ts
  backend/libs/restrictions/src/index.ts
  backend/libs/restrictions/src/models/restriction.model.ts
  backend/libs/restrictions/src/queries/handlers/getNumInvitesQuery.handler.ts
  backend/libs/restrictions/src/queries/impl/getNumInvites.query.ts
  backend/libs/restrictions/src/restrictions.module.ts
  backend/libs/restrictions/src/restrictions.resolver.ts
  backend/libs/restrictions/src/restrictions.service.spec.ts
  backend/libs/restrictions/src/restrictions.service.ts
  backend/libs/restrictions/src/schema/restriction.schema.ts
  backend/libs/restrictions/tsconfig.lib.json
  backend/libs/user/src/commands/handlers/createUser.handler.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvite.handler.ts
  backend/libs/visitor-invite/src/queries/handlers/getTotalNumberOfInvitesVisitor.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getNumberOfVisitors.query.ts
  backend/libs/visitor-invite/src/queries/impl/getTotalNumberOfInvitesVisitor.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/nest-cli.json
  backend/package.json
  backend/restrictions.resolver.ts
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/test/jest-e2e.json
  backend/tsconfig.json
  client/__tests__/createInvite.test.js
  client/components/AnalyticsReport.jsx
  client/hooks/useDateRange.hook.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/userAnalytics.jsx
  client/pages/viewReport.jsx
Labels: scope:backend:api, scope:backend:service, priority:high, scope:db, scope:client

#144 🗃 (backend) Updated invite default state
  backend/libs/visitor-invite/src/commands/handlers/createInviteCommand.handler.ts
Labels: priority:high, scope:db

#147 (sign-in): Add Sign in functionality
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesByDate.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getInvitesByDate.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/visitorDashboard.jsx
Labels: scope:backend:api, scope:backend:service, priority:high, scope:client

#153 ✨ (backend): implemented the sign-out use case
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.ts
  backend/libs/receptionist/src/commands/handler/Tray/removeTrayByInviteID.handler.ts
  backend/libs/receptionist/src/commands/handler/signOutInvite.command.handler.ts
  backend/libs/receptionist/src/commands/impl/signOutInvite.command.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/receptionist/src/receptionist.resolver.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/src/schema.gql
  client/components/SignOutPopUp.jsx
Labels: enhancement, scope:backend:service, priority:high, scope:tests, scope:client

#158 🐛 (backend): fixed a failing test
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.ts
  backend/libs/receptionist/src/commands/handler/signOutInvite.command.handler.ts
  client/components/SignOutPopUp.jsx
Labels: scope:backend:service, priority:high, scope:tests

#160 👔 (parking): update getUsedParking in range
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.ts
  backend/src/schema.gql
Labels: scope:backend:service, priority:high

#159 👔 (sign-in): Update sign-in with tray stuff
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/queries/impl/getParkingReservations.query.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/src/commands/handler/Tray/generateTray.handler.ts
  backend/libs/receptionist/src/commands/handler/signInInviteCommand.handler.ts
  backend/libs/receptionist/src/commands/handler/signOutInvite.command.handler.ts
  backend/libs/receptionist/src/commands/impl/signInInvite.command.ts
  backend/libs/receptionist/src/commands/impl/signOutInvite.command.ts
  backend/libs/receptionist/src/errors/invalidSignIn.error.ts
  backend/libs/receptionist/src/errors/inviteNotFound.error.ts
  backend/libs/receptionist/src/models/tray.model.ts
  backend/libs/receptionist/src/queries/handlers/getTrayList.handler.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/receptionist/src/receptionist.resolver.ts
  backend/libs/receptionist/src/receptionist.service.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/schema/invite.schema.ts
  backend/src/schema.gql
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/VisitInfoModal.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/visitorDashboard.jsx
Labels: scope:backend:service, priority:medium

#167 ✨(QR code) Introduced ability to search for an invite by scanning a QR code
  client/components/QRScanner.jsx
  client/pages/receptionistDashboard.jsx
Labels: scope:backend:api, priority:high

#165 ✅ (client) Added signup unit test
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/mail/src/mail.module.ts
  backend/libs/mail/src/mail.service.spec.ts
  backend/libs/mail/src/mail.service.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/resident/src/resident.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  client/__tests__/__mocks__/adminDashboard.mock.js
  client/__tests__/__mocks__/signup.mock.js
  client/__tests__/__mocks__/verify.mock.js
  client/__tests__/adminDashboard.test.js
  client/__tests__/authorize.test.js
  client/__tests__/integration/signup.int-test.js
  client/__tests__/receptionistDashboard.test.js
  client/__tests__/signup.test.js
  client/__tests__/verify.test.js
  client/pages/adminDashboard.jsx
  client/pages/signUp.jsx
  client/pages/verify.jsx
  client/tsconfig.json
Labels: scope:tests

#169 ✨ (sign-in): Round off receptionist dashboard
  backend/libs/receptionist/src/commands/handler/signOutInvite.command.handler.ts
  client/components/InfoAlert.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/components/receptionistSignButton.jsx
  client/pages/receptionistDashboard.jsx
  client/receptionistSignButton.jsx
Labels: priority:high
