Repository COS301-SE-2022/Intelligent-VMS-Visitor-Management-System-, pull requests merged in 2022-05, with the labels that each got.

#15 ✅ (client) Added jest and cypress
  client/__tests__/index.test.js
  client/components/Layout.jsx
  client/cypress.json
  client/jest.config.js
  client/package.json
  client/pages/_app.js
  client/pages/_document.js
  client/pages/api/hello.js
  client/pages/index.js
  client/prettier.config.js
  client/yarn.lock
Labels: enhancement, scope:client:nextjs

#23 Feature/auth
  backend/libs/auth/src/auth.module.ts
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/auth/src/auth.service.ts
  backend/libs/auth/src/decorators/CurrentUserDecorator.decorator.ts
  backend/libs/auth/src/guards/GqlAuthGuard.guard.ts
  backend/libs/auth/src/guards/LocalAuthGuard.guard.ts
  backend/libs/auth/src/index.ts
  backend/libs/auth/src/jwt.strategy.ts
  backend/libs/auth/src/local.strategy.ts
  backend/libs/auth/tsconfig.lib.json
  backend/libs/user/src/dto/loginUser.dto.ts
  backend/libs/user/src/index.ts
  backend/libs/user/src/models/user.model.ts
  backend/libs/user/src/queries/handlers/getUser.handler.ts
  backend/libs/user/src/queries/impl/getUser.query.ts
  backend/libs/user/src/schema/user.schema.ts
  backend/libs/user/src/user.module.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.spec.ts
  backend/libs/user/src/user.service.ts
  backend/libs/user/tsconfig.lib.json
  backend/libs/visitor/src/index.ts
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/test/jest-e2e.json
  backend/tsconfig.json
  backend/yarn.lock
  client/__tests__/index.test.js
  client/components/Layout.jsx
  client/package.json
  client/pages/index.js
  client/pages/login.jsx
  client/tailwind.config.js
  client/yarn.lock
Labels: enhancement, scope:backend:api, scope:client:nextjs, scope:backend:service

#27 Create codecov-backend.yml
  .github/workflows/codecov-backend.yml
Labels: enhancement, scope:backend:api, scope:backend:service

#28 Feature/visitor invite
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/auth/src/auth.service.ts
  backend/libs/auth/src/decorators/CurrentUserDecorator.decorator.ts
  backend/libs/auth/src/errors/loginFailed.error.ts
  backend/libs/auth/src/jwt.strategy.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.spec.ts
  backend/libs/visitor-invite/src/index.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/libs/visitor-invite/tsconfig.lib.json
  backend/nest-cli.json
  backend/package.json
  backend/test/jest-e2e.json
  backend/tsconfig.json
  backend/yarn.lock
  client/.gitignore
  client/__tests__/index.test.js
  client/__tests__/login.test.js
  client/components/Hero.jsx
  client/components/Layout.jsx
  client/next.config.js
  client/package.json
  client/pages/_app.js
  client/pages/createInvite.jsx
  client/pages/index.js
  client/pages/login.jsx
  client/store/authStore.js
  client/styles/globals.css
  client/yarn.lock
Labels: enhancement, scope:backend:api, scope:client:nextjs, scope:backend:service, scope:client:style

#30 Feature/visitor invite
  backend/libs/database/src/schemas/user.schema.ts
  backend/libs/visitor-invite/src/commands/handlers/createInviteCommand.handler.ts
  backend/libs/visitor-invite/src/commands/impl/createInvite.command.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/schema/invite.schema.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/libs/visitor/src/visitor.module.ts
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/yarn.lock
  client/package.json
  client/pages/createInvite.jsx
Labels: enhancement, scope:backend:api, scope:client:nextjs, scope:backend:service, scope:backend:database

#31 Create frontend-codecov.yml
  .github/workflows/frontend-codecov.yml
Labels: enhancement, scope:client:nextjs

#34 Update frontend-deploy.yml
  .github/workflows/frontend-deploy.yml
Labels: enhancement

#35 Feature/client animation index
  client/components/ErrorAlert.jsx
  client/components/Hero.jsx
  client/components/Layout.jsx
  client/package.json
  client/pages/createInvite.jsx
  client/pages/login.jsx
  client/yarn.lock
Labels: scope:client:nextjs, scope:client:style, priority:low, scope:ui

#37 ✅ (backend) Added auth tests
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/visitor/src/visitor.module.ts
Labels: scope:backend:service, priority:high, scope:tests

#46 Feature/admin dashboard
  backend/libs/auth/src/auth.module.ts
  backend/libs/auth/src/guards/GqlAuthGuard.guard.ts
  backend/libs/auth/src/guards/LocalAuthGuard.guard.ts
  backend/libs/auth/src/index.ts
  backend/libs/auth/src/local.strategy.ts
  backend/libs/resident/src/index.ts
  backend/libs/resident/src/models/resident.model.ts
  backend/libs/resident/src/resident.module.ts
  backend/libs/resident/src/resident.resolver.ts
  backend/libs/resident/src/resident.service.spec.ts
  backend/libs/resident/src/resident.service.ts
  backend/libs/resident/tsconfig.lib.json
  backend/libs/user/src/decorators/roles.decorator.ts
  backend/libs/user/src/guards/roles.guard.ts
  backend/libs/user/src/models/user.model.ts
  backend/libs/visitor-invite/src/commands/handlers/cancelInviteCommand.handler.ts
  backend/libs/visitor-invite/src/commands/impl/cancelInvite.command.ts
  backend/libs/visitor-invite/src/errors/inviteNotFound.error.ts
  backend/libs/visitor-invite/src/index.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvite.handler.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvites.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getInvite.query.ts
  backend/libs/visitor-invite/src/queries/impl/getInvites.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/test/jest-e2e.json
  backend/tsconfig.json
  client/__tests__/createInvite.test.js
  client/__tests__/index.test.js
  client/__tests__/login.test.js
  client/__tests__/visitorDashboard.test.js
  client/components/Card.jsx
  client/components/ErrorAlert.jsx
  client/components/Hero.jsx
  client/components/Layout.jsx
  client/components/Unauthorized.jsx
  client/package.json
  client/pages/_app.js
  client/pages/_document.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/expire.jsx
  client/pages/login.jsx
  client/pages/visitorDashboard.jsx
  client/store/authStore.js
  client/tailwind.config.js
  client/yarn.lock
Labels: scope:backend:api, scope:client:nextjs, scope:backend:service, scope:api, scope:client

#50 💄 (client) Dashboard styles
  client/__tests__/createInvite.test.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/visitorDashboard.jsx
Labels: scope:client:nextjs, scope:client:style, scope:client

#58 ✅ (tests): added unit tests
  backend/libs/visitor/src/visitor.service.spec.ts
  backend/libs/visitor/src/visitor.service.ts
Labels: scope:backend:service, priority:high, scope:tests

#62 ✅ (tests): implemented unit testing
  backend/libs/user/src/user.service.spec.ts
Labels: scope:backend:service, priority:high, scope:tests

#61 🎉✨(parking): Basic Parking System setup
  README.md
  backend/libs/parking/src/commands/handlers/assignParkingCommand.handler.ts
  backend/libs/parking/src/commands/handlers/freeParkingCommand.handler.ts
  backend/libs/parking/src/commands/handlers/reserveParkingCommand.handler.ts
  backend/libs/parking/src/commands/impl/assignParking.command.ts
  backend/libs/parking/src/commands/impl/freeParking.command.ts
  backend/libs/parking/src/commands/impl/reserveParking.command.ts
  backend/libs/parking/src/index.ts
  backend/libs/parking/src/models/parking.model.ts
  backend/libs/parking/src/parking.module.ts
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/parking/src/schema/parking.schema.ts
  backend/libs/parking/tsconfig.lib.json
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/test/jest-e2e.json
  backend/tsconfig.json
  backend/yarn.lock
  client/package.json
  client/yarn.lock
Labels: scope:documentation, scope:backend:api, scope:backend:service, scope:backend:database, priority:medium

#59 ✅(backend/frontend) adding tests
  backend/libs/resident/src/resident.resolver.spec.ts
  client/__tests__/adminDashboard.test.js
  client/__tests__/expire.test.js
  client/package.json
  client/pages/adminDashboard.jsx
  client/yarn.lock
Labels: scope:tests

#70 Feature/admin analytics
  backend/libs/user/src/guards/roles.guard.ts
  backend/src/schema.gql
  client/__tests__/adminDashboard.test.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/visitorDashboard.jsx
Labels: enhancement, scope:client:nextjs

#74 Feature/codecov config
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/auth/src/auth.service.ts
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/user/src/user.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/package.json
  client/__tests__/adminDashboard.test.js
  client/jest.config.js
  client/pages/adminDashboard.jsx
Labels: scope:tests

#76 Feature/create invite unit tests and mail lib
  backend/libs/mail/src/index.ts
  backend/libs/mail/src/mail.module.ts
  backend/libs/mail/src/mail.service.spec.ts
  backend/libs/mail/src/mail.service.ts
  backend/libs/mail/tsconfig.lib.json
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/visitor-invite/src/queries/handlers/getNumberOfVisitors.handler.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/test/jest-e2e.json
  backend/tsconfig.json
  client/pages/visitorDashboard.jsx
Labels: priority:high, scope:tests

#83 Fix/mobile responsiveness
  client/__tests__/adminDashboard.test.js
  client/__tests__/createInvite.test.js
  client/__tests__/expire.test.js
  client/components/Card.jsx
  client/components/Hero.jsx
  client/components/Layout.jsx
  client/components/Navbar.jsx
  client/components/Unauthorized.jsx
  client/package.json
  client/pages/_app.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/visitorDashboard.jsx
  client/styles/globals.css
  client/yarn.lock
Labels: scope:client

#91 Feature/signupandinvite
  backend/libs/visitor-invite/src/commands/handlers/createInviteCommand.handler.ts
  backend/libs/visitor-invite/src/commands/impl/createInvite.command.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/schema/invite.schema.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/createInvite.test.js
  client/pages/createInvite.jsx
Labels: scope:backend:api, scope:backend:service, priority:high, scope:client

#98 Feature/Auth-Frontend
  client/__tests__/__mocks__/createInvite.mock.js
  client/__tests__/__mocks__/login.mock.js
  client/__tests__/adminDashboard.test.js
  client/__tests__/createInvite.test.js
  client/__tests__/expire.test.js
  client/__tests__/index.test.js
  client/__tests__/login.test.js
  client/components/Hero.jsx
  client/components/Layout.jsx
  client/jest.config.js
  client/pages/_app.js
  client/pages/login.jsx
  client/pages/signUp.jsx
  client/pages/verify.jsx
  client/pages/visitorDashboard.jsx
  client/store/authStore.js
Labels: priority:high, scope:client

#100 ✨ (client) Added chart library
  backend/package.json
  backend/src/app.module.ts
  backend/yarn.lock
  client/package.json
  client/yarn.lock
Labels: enhancement, priority:high, scope:client

#101 ✨ ✅ (parking) : Tests and Commands
  backend/libs/parking/src/commands/handlers/disableParkingCommand.handler.ts
  backend/libs/parking/src/commands/handlers/enableParkingCommand.handler.ts
  backend/libs/parking/src/commands/impl/disableParkingSpace.command.ts
  backend/libs/parking/src/commands/impl/enableParkingSpace.command.ts
  backend/libs/parking/src/models/parking.model.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/parking/src/schema/parking.schema.ts
  backend/libs/visitor-invite/src/schema/invite.schema.ts
Labels: scope:backend:service, priority:low, scope:db, scope:tests

#106 Feature/admin analytics
  backend/libs/auth/src/auth.module.ts
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/auth/src/auth.service.ts
  backend/libs/auth/src/errors/signupFailed.error.ts
  backend/libs/auth/src/errors/verificationFailed.error.ts
  backend/libs/mail/src/mail.service.ts
  backend/libs/resident/src/resident.resolver.spec.ts
  backend/libs/resident/src/resident.service.spec.ts
  backend/libs/user/src/commands/handlers/createUser.handler.ts
  backend/libs/user/src/commands/impl/createUser.command.ts
  backend/libs/user/src/user.module.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.spec.ts
  backend/libs/user/src/user.service.ts
  backend/libs/visitor-invite/src/errors/dateFormat.error.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesInRange.handler.ts
  backend/libs/visitor-invite/src/queries/handlers/getTotalNumberOfInvitesOfResident.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getInvitesInRange.query.ts
  backend/libs/visitor-invite/src/queries/impl/getNumberOfInvitesOfResident.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/__mocks__/resizeObserver.mock.js
  client/__tests__/__mocks__/visitorDashboard.mock.js
  client/__tests__/adminDashboard.test.js
  client/__tests__/createInvite.test.js
  client/__tests__/login.test.js
  client/__tests__/visitorDashboard.test.js
  client/components/AdminCard.jsx
  client/components/DownloadChart.jsx
  client/components/FullCard.jsx
  client/components/Hero.jsx
  client/components/Layout.jsx
  client/components/LineChart.jsx
  client/components/Navbar.jsx
  client/hooks/useDateRange.hook.js
  client/jest.config.js
  client/package.json
  client/pages/_app.js
  client/pages/adminDashboard.jsx
  client/pages/authorize.jsx
  client/pages/createInvite.jsx
  client/pages/login.jsx
  client/pages/signUp.jsx
  client/pages/verify.jsx
  client/pages/visitorDashboard.jsx
  client/store/authStore.js
  client/yarn.lock
Labels: scope:backend:api, scope:backend:service, priority:medium, scope:ui, scope:tests, scope:client
