Repository COS301-SE-2022/Intelligent-VMS-Visitor-Management-System-, pull requests merged in 2022-07, with the labels that each got.

#186 Added flask api
  data-prep/Dockerfile
  data-prep/Pipfile
  data-prep/app.py
  data-prep/app/__init__.py
  data-prep/app/routes.py
  data-prep/requirements.txt
Labels: enhancement

#183 Fix tests for sign-out
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/src/schema.gql
Labels: scope:backend:service, priority:medium, scope:tests

#187 Updated PORT value
  data-prep/app.py
Labels: enhancement

#188 Updated PORT value
  data-prep/app.py
Labels: enhancement

#192 Added deployment file
  data-prep/Dockerfile
  data-prep/ProcFile
  data-prep/app.py
Labels: priority:low

#194 Origin/feature/visitor info modal stefan
  client/components/VisitInfoModal.jsx
  client/pages/receptionistDashboard.jsx
Labels: priority:medium, scope:client

#191 Feature/resident search
  backend/libs/user/src/models/searchUser.model.ts
  backend/libs/user/src/user.resolver.ts
  backend/src/schema.gql
  client/cypress.config.js
  client/cypress.env.json
  client/cypress.json
  client/cypress/fixtures/example.json
  client/cypress/integration/adminDashboard.spec.js
  client/cypress/integration/index.spec.js
  client/cypress/integration/login.spec.js
  client/cypress/plugins/index.js
  client/cypress/support/commands.js
  client/cypress/support/index.js
  client/jest.config.js
  client/utils/graphql-cypress-utils.js
Labels: enhancement, priority:high, scope:tests, scope:client

#196 Origin/feature/visitor info modal stefan formatting of modal
  client/components/VisitInfoModal.jsx
  client/package.json
  client/pages/receptionistDashboard.jsx
  client/yarn.lock
Labels: priority:medium, scope:client

#175 Feature/search change
  backend/libs/user/src/commands/handlers/authorizeUser.handler.ts
  backend/libs/user/src/commands/handlers/deleteUser.handler.ts
  backend/libs/user/src/commands/impl/authorizeUser.command.ts
  backend/libs/user/src/commands/impl/deleteUser.command.ts
  backend/libs/user/src/dto/loginUser.dto.ts
  backend/libs/user/src/queries/handlers/getUnAuthUsers.handler.ts
  backend/libs/user/src/queries/impl/getUnAuthUsers.query.ts
  backend/libs/user/src/user.module.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.spec.ts
  backend/libs/user/src/user.service.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/adminDashboard.test.js
  client/__tests__/authorize.test.js
  client/__tests__/createInvite.test.js
  client/__tests__/login.test.js
  client/__tests__/receptionistDashboard.test.js
  client/__tests__/signup.test.js
  client/__tests__/verify.test.js
  client/__tests__/visitorDashboard.test.js
  client/components/AnalyticsReport.jsx
  client/components/AuthCard.jsx
  client/components/DownloadChart.jsx
  client/components/ErrorAlert.jsx
  client/components/Hero.jsx
  client/components/InfoAlert.jsx
  client/components/Navbar.jsx
  client/components/PDFLayout.jsx
  client/components/QRScanner.jsx
  client/components/SignInPopUp.jsx
  client/components/SignOutPopUp.jsx
  client/components/VisitorSearchResults.jsx
  client/components/receptionistSignButton.jsx
  client/package.json
  client/pages/_app.js
  client/pages/adminDashboard.jsx
  client/pages/authorizeUser.jsx
  client/pages/createInvite.jsx
  client/pages/expire.jsx
  client/pages/login.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/signUp.jsx
  client/pages/userAnalytics.jsx
  client/pages/viewReport.jsx
  client/pages/visitorDashboard.jsx
  client/store/authStore.js
  client/tailwind.config.js
  client/yarn.lock
Labels: enhancement, priority:low, scope:client

#180 Feature/authorization
  backend/libs/auth/src/auth.service.ts
  backend/libs/user/src/commands/handlers/authorizeUser.handler.ts
  backend/libs/user/src/commands/handlers/createUser.handler.ts
  backend/libs/user/src/commands/impl/createUser.command.ts
  backend/libs/user/src/schema/user.schema.ts
  backend/libs/user/src/user.module.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.ts
  backend/src/schema.gql
  client/__tests__/signup.test.js
  client/components/AuthCard.jsx
  client/components/ThemeSelector.jsx
  client/pages/authorizeUser.jsx
  client/pages/createInvite.jsx
  client/pages/login.jsx
  client/pages/signUp.jsx
Labels: scope:backend:api, scope:backend:service, priority:high, scope:client

#195 Feature/user analytics
  backend/libs/parking/src/models/parking.model.ts
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/user/src/queries/handlers/searchUser.handler.ts
  backend/libs/user/src/queries/impl/searchUser.query.ts
  backend/libs/user/src/user.module.ts
  backend/libs/user/src/user.resolver.ts
  backend/libs/user/src/user.service.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesInRangeByEmail.handler.ts
  backend/src/schema.gql
  client/components/AnalyticsReport.jsx
  client/components/DownloadChart.jsx
  client/components/VisitorSearchResults.jsx
  client/hooks/useDateRange.hook.js
  client/pages/adminDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/viewReport.jsx
Labels: enhancement

#190 🗃️ ✨ (BSI): Bulk Sign In functionality
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/src/commands/handler/bulkSignInCommand.handler.ts
  backend/libs/receptionist/src/commands/impl/bulkSignIn.command.ts
  backend/libs/receptionist/src/receptionist.module.ts
  backend/libs/receptionist/src/receptionist.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/receptionistDashboard.test.js
  client/components/QRScanner.jsx
  client/components/UploadPopUp.jsx
  client/package.json
  client/pages/receptionistDashboard.jsx
  client/yarn.lock
Labels: enhancement, priority:low, scope:client

#200 Feature/task scheduler
  backend/libs/parking/src/parking.module.ts
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/parking/src/queries/handlers/getFreeParkingQuery.handler.ts
  backend/libs/parking/src/queries/handlers/getNumberOfReservationsQuery.handler.ts
  backend/libs/parking/src/queries/handlers/getReservationsInRangeQuery.handler.ts
  backend/libs/parking/src/queries/impl/getNumberOfReservations.query.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/package.json
  backend/src/app.module.ts
  backend/src/schema.gql
  backend/yarn.lock
  client/components/AnalyticsReport.jsx
  client/components/AuthCard.jsx
  client/components/DownloadChart.jsx
  client/components/Navbar.jsx
  client/components/ThemeSelector.jsx
  client/components/VisitInfoModal.jsx
  client/components/VisitorSearchResults.jsx
  client/hooks/useDateRange.hook.js
  client/package.json
  client/pages/adminDashboard.jsx
  client/pages/authorizeUser.jsx
  client/pages/createInvite.jsx
  client/pages/login.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/signUp.jsx
  client/pages/userAnalytics.jsx
  client/pages/viewReport.jsx
  client/yarn.lock
Labels: enhancement

#201 Feature/invite group
  backend/libs/visitor-invite/src/commands/handlers/groupInviteCommand.handler.ts
  backend/libs/visitor-invite/src/commands/impl/createGroupInvite.command.ts
  backend/libs/visitor-invite/src/schema/groupInvite.schema.ts
  backend/libs/visitor-invite/src/schema/invite.schema.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  client/components/ThemeSelector.jsx
  client/components/VisitInfoModal.jsx
  client/pages/authorizeUser.jsx
  client/tailwind.config.js
Labels: enhancement, scope:db, scope:client

#203 Feature/visitor dashboard redo
  backend/libs/auth/src/auth.service.ts
  client/__tests__/adminDashboard.test.js
  client/__tests__/receptionistDashboard.test.js
  client/__tests__/visitorDashboard.test.js
  client/components/AuthCard.jsx
  client/components/DownloadChart.jsx
  client/components/Hero.jsx
  client/components/Navbar.jsx
  client/components/QRScanner.jsx
  client/components/UploadPopUp.jsx
  client/components/VisitInfoModal.jsx
  client/pages/authorizeUser.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
Labels: enhancement, scope:client

#205 ✨ (AI-int): Integrate AI component
  README.md
  data-prep/.env
  data-prep/app/database.py
  data-prep/app/fakeInviteGenerator.py
  data-prep/app/holidaysSA.py
  data-prep/app/model.py
  data-prep/app/routes.py
Labels: priority:medium

#207 Feature/parking fix
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  client/__tests__/adminDashboard.test.js
  client/__tests__/createInvite.test.js
  client/__tests__/integration/__mocks__/createInvite.mock.js
  client/__tests__/integration/createInvite.int-test.js
  client/__tests__/integration/signup.int-test.js
  client/__tests__/receptionistDashboard.test.js
  client/components/Navbar.jsx
  client/components/ThemeSelector.jsx
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  client/tailwind.config.js
Labels: enhancement, scope:api, scope:client

#212 Feature/invite parking fix
  backend/libs/parking/src/parking.service.ts
  backend/libs/visitor-invite/src/queries/handlers/getNumberOfOpenInvites.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getNumberOfOpenInvites.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/createInvite.test.js
  client/components/DownloadChart.jsx
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  data-prep/app.py
  data-prep/app/model.py
  data-prep/app/routes.py
  data-prep/requirements.txt
Labels: enhancement, scope:backend:api, scope:backend:service, scope:client

#209 ✅ (backend) Fixed dependency and endpoint errors
  data-prep/app.py
  data-prep/app/model.py
  data-prep/app/routes.py
  data-prep/requirements.txt
Labels: enhancement, scope:backend:api, priority:high

#213 Updating this branch
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/visitor-invite/src/queries/handlers/getNumberOfOpenInvites.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getNumberOfOpenInvites.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/src/schema.gql
  client/__tests__/adminDashboard.test.js
  client/__tests__/createInvite.test.js
  client/__tests__/integration/__mocks__/createInvite.mock.js
  client/__tests__/integration/createInvite.int-test.js
  client/__tests__/integration/signup.int-test.js
  client/__tests__/receptionistDashboard.test.js
  client/components/DownloadChart.jsx
  client/components/Navbar.jsx
  client/components/ThemeSelector.jsx
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  client/tailwind.config.js
  data-prep/app.py
  data-prep/app/model.py
  data-prep/app/routes.py
  data-prep/requirements.txt
Labels: priority:low

#214 🐛 (AI-int): Fixing some api interaction relating stuff
  README.md
  data-prep/app/fakeInviteGenerator.py
  data-prep/app/model.py
  data-prep/requirements.txt
Labels: status: ready

#220 👔 (backend): updated tray system
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/src/commands/handler/Tray/generateTray.handler.ts
Labels: enhancement, scope:backend:service, priority:medium, scope:db

#215 Feature/admin parking fix
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.ts
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
Labels: scope:backend:api, scope:backend:service, priority:high, scope:client, status: ready

#223 ✨ (AI-int): Export model
  data-prep/VMS_reg-model.pkl
  data-prep/app/model.py
Labels: priority:high, status: ready

#226 Feature/ai admin visitor integration
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/models/predictedInviteData.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesByDate.handler.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/package.json
  backend/src/schema.gql
  backend/yarn.lock
  client/components/DownloadChart.jsx
  client/components/LineChart.jsx
  client/components/Navbar.jsx
  client/components/QRScanner.jsx
  client/pages/adminDashboard.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
Labels: enhancement, scope:backend:api, priority:high, scope:api, scope:client

#228 Updating branch
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/src/commands/handler/Tray/generateTray.handler.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/models/predictedInviteData.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesByDate.handler.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/package.json
  backend/src/schema.gql
  backend/yarn.lock
  client/components/DownloadChart.jsx
  client/components/LineChart.jsx
  client/components/Navbar.jsx
  client/components/QRScanner.jsx
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  data-prep/VMS_reg-model.pkl
  data-prep/app/model.py
Labels: priority:low

#230 Testing/integration testing
  client/cypress/integration/administrator.spec.js
  client/cypress/integration/receptionist.spec.js
Labels: priority:medium

#234 Updating this branch
  README.md
  backend/libs/auth/src/auth.service.spec.ts
  backend/libs/parking/src/parking.resolver.ts
  backend/libs/parking/src/parking.service.spec.ts
  backend/libs/parking/src/parking.service.ts
  backend/libs/receptionist/sign-in/sign-in.service.spec.ts
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/sign-out/sign-out.service.spec.ts
  backend/libs/receptionist/src/commands/handler/Tray/generateTray.handler.ts
  backend/libs/receptionist/src/receptionist.service.spec.ts
  backend/libs/visitor-invite/src/models/invite.model.ts
  backend/libs/visitor-invite/src/models/predictedInviteData.model.ts
  backend/libs/visitor-invite/src/queries/handlers/getInvitesByDate.handler.ts
  backend/libs/visitor-invite/src/queries/handlers/getNumberOfOpenInvites.handler.ts
  backend/libs/visitor-invite/src/queries/impl/getNumberOfOpenInvites.query.ts
  backend/libs/visitor-invite/src/visitor-invite.module.ts
  backend/libs/visitor-invite/src/visitor-invite.resolver.ts
  backend/libs/visitor-invite/src/visitor-invite.service.spec.ts
  backend/libs/visitor-invite/src/visitor-invite.service.ts
  backend/package.json
  backend/src/schema.gql
  backend/yarn.lock
  client/__tests__/createInvite.test.js
  client/components/DownloadChart.jsx
  client/components/LineChart.jsx
  client/components/Navbar.jsx
  client/components/QRScanner.jsx
  client/cypress/integration/administrator.spec.js
  client/cypress/integration/receptionist.spec.js
  client/pages/adminDashboard.jsx
  client/pages/createInvite.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
  data-prep/VMS_reg-model.pkl
  data-prep/app.py
  data-prep/app/fakeInviteGenerator.py
  data-prep/app/model.py
  data-prep/app/routes.py
  data-prep/requirements.txt
Labels: priority:low

#235 Bugfix/loading fix
  client/components/Card.jsx
  client/components/UploadPopUp.jsx
  client/cypress.config.js
  client/cypress/integration/adminDashboard.spec.js
  client/cypress/integration/administrator.spec.js
  client/cypress/integration/index.spec.js
  client/cypress/integration/login.spec.js
  client/cypress/integration/signUp.spec.js
  client/cypress/integration/verify.spec.js
  client/pages/adminDashboard.jsx
  client/pages/receptionistDashboard.jsx
  client/pages/userAnalytics.jsx
  client/pages/visitorDashboard.jsx
Labels: priority:high, scope:client

#236 (client) Changed login routing and fixed loading bug
  client/__tests__/login.test.js
  client/components/receptionistSignButton.jsx
  client/pages/login.jsx
  client/pages/receptionistDashboard.jsx
Labels: enhancement, scope:client

#237 💄 (BSI): Created success alert
  backend/libs/receptionist/sign-in/sign-in.service.ts
  backend/libs/receptionist/src/commands/handler/bulkSignInCommand.handler.ts
  backend/libs/receptionist/src/models/BSIdata.model.ts
  backend/libs/receptionist/src/receptionist.resolver.ts
  backend/src/schema.gql
  client/components/SuccessAlert.jsx
  client/components/UploadPopUp.jsx
  client/cypress/integration/administrator.spec.js
  client/cypress/integration/receptionist.spec.js
  client/pages/receptionistDashboard.jsx
Labels: priority:low
